#bg
  = image_tag "book2.gif"
.col-md-12.col.lg-12{:style => "position:relative;top:200px;"}
  = image_tag "small_logo.png", style:"display:inherit;margin:0 auto;"
  %h1.homepage_heading_h1{:style => "margin-top:5px;"} Read to Others. Let Others Read to You.
  .sign_up_buttons
    = link_to "Sign Up", new_user_registration_path, class:"sign_up_in_link"
  .sign_up_buttons
    = link_to "Sign In", new_user_session_path, class:"sign_up_in_link"
    sss
