%li
  = link_to user.email, user, class:"users_text"
  / <#% if current_user.admin? && !current_user?(user) %>
  / | <#%= link_to "delete", user, class:"users_text", method: :delete, confirm: "You sure?" %>
  / <#% end %>
