div.topic_pin{
  margin: 0px;
  padding:0px;
}
div.topic_pin:hover{
  background: #fafafa;
}
div.topic_show_pin{
  border:none;
}
h1.show_topic_headline{
  font-size: 3.3em;
  font-family: 'Lato';
  color: #333332;
  font-weight: 400;
  margin-bottom: 5px
}
p.topic_count_and_followers{
  font-family: 'Lato';
  font-size: 1.3em;
  color: #333332;
  font-weight: 300;
  display: inline-block;
}
p.topic_count_and_followers a{
  font-family: 'Lato';
  // font-size: 1.3em;
  color: #333332;
  font-weight: 300;
}
div#follow_topic form.button_to{
  box-shadow: none;
  padding: 0px;
  margin: 20px auto;
}
.round-button-topic-follow{
  display: block;
  width: 140px;
  height: 20px;
  line-height: 0px;
  border: 2px solid #f5f5f5;
  border-radius: 0%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #a8a8a8;
  box-shadow: 0 0 3px gray;
  font-size: 20px;
  font-weight: 200;
  display: inline-block;
}

.round-button-provider-follow:hover{
  background: #d3d3d3;
}

